{% extends "base.html" %}
{% load static %}
{%  block content %}
<main>
<section>
    <div class="container">
        <div class="recent-block flex flex-wrap justify-between items-center mt-10 gap-y-4 text-center">
            <h1 class="recents">Tez kunda</h1>
            <p><a href="#"><button>Barcha Event’lar</button></a></p>
        </div>
            <ul class="slider-header flex justify-center items-center gap-x-2 lg:gap-x-8 md:gap-x-6 sm:gap-x-4 mt-10 ">
                <li><a href="#">Bo’lib o’tganlar</a></li>
                <li><a href="#">Bugun</a></li>
                <li><a href="#">Bu haftada</a></li>
                <li><a href="#">Bu oyda</a></li>
            </ul>
        <!-- Cards  -->
           <div class="wrapper mt-10 flex justify-between items-center" aria-label="Splide Basic HTML Example">
            <i id="left" class="fa-solid fa-angle-left"></i>
                <div class="cards carousel flex gap-x-4 mt-10">
                    <div class="card flex flex-col justify-between glide__slide">
                            <div class="card-text px-4">
                                <p class="flex justify-between items-center  mt-6">
                                    <span>Ближайший ивент</span>
                                    <span><button class="p-2">Продвинутым</button></span>
                                </p>
                                <h2 class="mt-10 ">Продвижение товаров на
                                    Ozon</h2>
                                <h2 class="mt-4">Старт в 15:30</h2>
                                <br>
                                <div class="tegs font-bold text-black flex justify-center gap-x-2 mt-12">
                                    <span>#Тег</span>
                                    <span>#Теггити тег</span>
                                    <span>#Тег</span>
                                </div>
                            </div>
                        <div class="button flex justify-between items-center p-4">
                            <span><a href="#">Перейти к мероприятию</a></span><span></span>
                        </div>
                    </div>
                    <div class="card flex flex-col justify-between glide__slide">
                        <div class="card-text px-4">
                            <p class="flex justify-between items-center  mt-6">
                                <span>Ближайший ивент</span>
                                <span><button class="p-2">Продвинутым</button></span>
                            </p>
                            <h2 class="mt-10 ">Продвижение товаров на
                                Ozon</h2>
                            <h2 class="mt-4">Старт в 15:30</h2>
                            <br>
                            <div class="tegs font-bold text-black flex justify-center gap-x-2 mt-12">
                                <span>#Тег</span>
                                <span>#Теггити тег</span>
                                <span>#Тег</span>
                            </div>
                        </div>
                    <div class="button flex justify-between items-center p-4">
                        <span><a href="#">Перейти к мероприятию</a></span><span></span>
                    </div>
                    </div>
                    <div class="card flex flex-col justify-between glide__slide">
                        <div class="card-text px-4">
                            <p class="flex justify-between items-center  mt-6">
                                <span>Ближайший ивент</span>
                                <span><button class="p-2">Продвинутым</button></span>
                            </p>
                            <h2 class="mt-10 ">Продвижение товаров на
                                Ozon</h2>
                            <h2 class="mt-4">Старт в 15:30</h2>
                            <br>
                            <div class="tegs font-bold text-black flex justify-center gap-x-2 mt-12">
                                <span>#Тег</span>
                                <span>#Теггити тег</span>
                                <span>#Тег</span>
                            </div>
                        </div>
                    <div class="button flex justify-between items-center p-4">
                        <span><a href="#">Перейти к мероприятию</a></span><span></span>
                    </div>
                    </div>
                    <div class="card flex flex-col justify-between glide__slide">
                        <div class="card-text px-4">
                            <p class="flex justify-between items-center  mt-6">
                                <span>Ближайший ивент</span>
                                <span><button class="p-2">Продвинутым</button></span>
                            </p>
                            <h2 class="mt-10 ">Продвижение товаров на
                                Ozon</h2>
                            <h2 class="mt-4">Старт в 15:30</h2>
                            <br>
                            <div class="tegs font-bold text-black flex justify-center gap-x-2 mt-12">
                                <span>#Тег</span>
                                <span>#Теггити тег</span>
                                <span>#Тег</span>
                            </div>
                        </div>
                    <div class="button flex justify-between items-center p-4">
                        <span><a href="#">Перейти к мероприятию</a></span><span></span>
                    </div>
                    </div>
                </div>
            <i id="right" class="fa-solid fa-angle-right"></i>
           </div>
           
          
            
    </div>
</section>
<section id="second-section">
    <div class="container">
        <h1>Bo'lib O'tgan</h1>
        <div class="wrapper">
            <i id="left" class="fa-solid fa-angle-left"></i>
                <div class=" ended-cards carousel   flex gap-x-4 mt-10">
                    <div class="card flex flex-col justify-between splide__slide">
                        <div class="card-text px-4">
                            <p class="flex justify-between items-center  mt-6">
                                <span class="font-bold"> 26 ноября, 18:00</span>
                                <span><button class="p-2">Продвинутым</button></span>
                            </p>
                            <h2 class="mt-10 ">Продвижение товаров на Ozon</h2>
                            <div class="mt-4">
                                <p class="flex gap-x-2">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                    </span>
                                    <span class="px-2">Инструменты продвижения: бесплатные и платные</span>
                                    
                                </p>
                                <p class="flex gap-x-2">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                    </span>
                                    <span class="px-2">Инструменты продвижения: бесплатные и платные</span>
                                    
                                </p>
                                <p class="flex gap-x-2">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                    </span>
                                    <span class="px-2">Инструменты продвижения: бесплатные и платные</span>
                                    
                                </p>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="tegs font-bold text-black flex justify-center gap-x-2">
                                <span>#Тег</span>
                                <span>#Теггити тег</span>
                                <span>#Тег</span>
                            </div>
                        </div>
                        <div class="button flex justify-end items-center p-4">
                            <span><a href="#">Подробнее</a></span>
                        </div>
                        
                    </div>
                    <div class="card flex flex-col justify-between ">
                        <div class="card-text px-4">
                            <p class="flex justify-between items-center  mt-6">
                                <span class="font-bold"> 26 ноября, 18:00</span>
                                <span><button class="p-2">Продвинутым</button></span>
                            </p>
                            <h2 class="mt-10 ">Продвижение товаров на Ozon</h2>
                            <div class="mt-4">
                                <p class="flex gap-x-2">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                    </span>
                                    <span class="px-2">Инструменты продвижения: бесплатные и платные</span>
                                    
                                </p>
                                <p class="flex gap-x-2">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                    </span>
                                    <span class="px-2">Инструменты продвижения: бесплатные и платные</span>
                                    
                                </p>
                                <p class="flex gap-x-2">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                    </span>
                                    <span class="px-2">Инструменты продвижения: бесплатные и платные</span>
                                    
                                </p>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="tegs font-bold text-black flex justify-center gap-x-2">
                                <span>#Тег</span>
                                <span>#Теггити тег</span>
                                <span>#Тег</span>
                            </div>
                        </div>
                        <div class="button flex justify-end items-center p-4">
                            <span><a href="#">Подробнее</a></span>
                        </div>
                        
                    </div>
                    <div class="card flex flex-col justify-between ">
                        <div class="card-text px-4">
                            <p class="flex justify-between items-center  mt-6">
                                <span class="font-bold"> 26 ноября, 18:00</span>
                                <span><button class="p-2">Продвинутым</button></span>
                            </p>
                            <h2 class="mt-10 ">Продвижение товаров на Ozon</h2>
                            <div class="mt-4">
                                <p class="flex gap-x-2">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                    </span>
                                    <span class="px-2">Инструменты продвижения: бесплатные и платные</span>
                                    
                                </p>
                                <p class="flex gap-x-2">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                    </span>
                                    <span class="px-2">Инструменты продвижения: бесплатные и платные</span>
                                    
                                </p>
                                <p class="flex gap-x-2">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                    </span>
                                    <span class="px-2">Инструменты продвижения: бесплатные и платные</span>
                                    
                                </p>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="tegs font-bold text-black flex justify-center gap-x-2">
                                <span>#Тег</span>
                                <span>#Теггити тег</span>
                                <span>#Тег</span>
                            </div>
                        </div>
                        <div class="button flex justify-end items-center p-4">
                            <span><a href="#">Подробнее</a></span>
                        </div>
                        
                    </div>
                    <div class="card flex flex-col justify-between ">
                        <div class="card-text px-4">
                            <p class="flex justify-between items-center  mt-6">
                                <span class="font-bold"> 26 ноября, 18:00</span>
                                <span><button class="p-2">Продвинутым</button></span>
                            </p>
                            <h2 class="mt-10 ">Продвижение товаров на Ozon</h2>
                            <div class="mt-4">
                                <p class="flex gap-x-2">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                    </span>
                                    <span class="px-2">Инструменты продвижения: бесплатные и платные</span>
                                    
                                </p>
                                <p class="flex gap-x-2">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                    </span>
                                    <span class="px-2">Инструменты продвижения: бесплатные и платные</span>
                                    
                                </p>
                                <p class="flex gap-x-2">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#ffffff}</style><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                                    </span>
                                    <span class="px-2">Инструменты продвижения: бесплатные и платные</span>
                                    
                                </p>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="tegs font-bold text-black flex justify-center gap-x-2">
                                <span>#Тег</span>
                                <span>#Теггити тег</span>
                                <span>#Тег</span>
                            </div>
                        </div>
                        <div class="button flex justify-end items-center p-4">
                            <span><a href="#">Подробнее</a></span>
                        </div>
                        
                    </div>
                </div>
            <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
    </div>
</section>
</main>
{% endblock %}
